out/*
.vscode/*
helpStuffs/a.exe
vc140.pdb
.vs/slnx.sqlite
.vs/TerminalFactory.slnx/FileContentIndex/9b66de4c-362a-4731-8977-3c1fe7c9b054.vsidx
.vs/TerminalFactory.slnx/v18/.wsuo
.vs/TerminalFactory.slnx/v18/DocumentLayout.json
